*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.white-txt {
  margin-left: 17rem;
  margin-top: 2rem;
}
.white-txt ul li a.select {
  color: #057dba;
  text-decoration: none;
}
.fw-bold{
  color: #6d6d6d;
}
.corporate-box {
  width: 1000px;
  padding: 0 0 22px 0;
}
.coporate-txt {
  width: 685px;
}
.corporate-heading{
  font-family: Calibri;
  font-size: 29px;
  font-weight: bold;
  color: #6d6d6d;
  text-transform: uppercase;
  margin-left: 19rem;
}
.corporate-para{
  margin-left: 19rem;
  font-family: Calibri;
  font-size: 16px;
  font-weight: normal;
  color: #6d6d6d;
  line-height: 21px;
}
.corporate-bullet{
  margin-left: 17rem;
  margin-top: 1.875rem;
}
.corporate-bullet ul li{
  font-family: Calibri;
  font-size: 16px;
  font-weight: normal;
  color: #6d6d6d;
}
.corporate-bullet .inner{
  font-family: Calibri;
  font-size: 16px;
  font-weight: normal;
  color: #6d6d6d;
  line-height: 20px;
}
.nav-text p{
  font-family: Calibri;
  font-size: 16px;
  font-weight: normal;
  color: #6d6d6d;
  /* margin-left: 3rem; */
}
.privacy-txt{
  margin-left: 17rem;
  margin-top: 2rem;
}
.privacy-txt ul li a.select {
  color: #057dba;
  text-decoration: none;
}
.privacy-heading{
  font-family: Calibri;
  font-size: 29px;
  font-weight: bold;
  color: #6d6d6d;
  text-transform: uppercase;
  margin-left: 19rem;
}
.privacy-box {
  width: 1300px;
  padding: 0 0 22px 0;
}
.privacy-box .privacy-content{
  margin-left: 19rem;
}
.privacy-content p{
  font-family: Calibri;
  font-size: 16px;
  font-weight: normal;
  color: #6D6D6D;
  line-height: 20px;
  text-align: justify;
}
.culture-txt{
  margin-left: 17rem;
  margin-top: 2rem;
}
.culture-txt ul li a.select {
  color: #057dba;
  text-decoration: none;
}
.culture-heading{
  font-family: Calibri;
  font-size: 29px;
  font-weight: bold;
  color: #6d6d6d;
  text-transform: uppercase;
  margin-left: 19rem;
}
.culture-box{
  width: 1000px;
  padding: 0 0 22px 0;
  margin-left: 19rem;
}
.culture-text p{
  font-family: Calibri;
  font-size: 16px;
  font-weight: normal;
  color: #6d6d6d;
  line-height: 20px;
  text-align: justify;
}
.vision-text{
  width: 1000px;
  padding: 0 0 22px 0;
  margin-left: 19rem;
}
.vision-heading{
  font-size: 29px;
  font-weight: bold;
  color: #6d6d6d;
  text-transform: uppercase;
}
.vision-first p{
  font-family: Calibri;
  font-size: 16px;
  font-weight: normal;
  color: #6d6d6d;
  line-height: 20px;
  text-align: justify;
}
.vision-first span{
  font-family: Calibri;
  font-size: 16px;
  font-weight: bold;
  color: #6d6d6d;
}
.vision-first ul li{
  font-family: Calibri;
  font-size: 16px;
  font-weight: normal;
  color: #6d6d6d;
  line-height: 26px;
}
.speacial-box{
  width: 1000px;
  padding: 0 0 22px 0;
  margin-left: 19rem;
}
.speacial-heading{
  font-size: 29px;
  font-weight: bold;
  color: #6d6d6d;
  text-transform: uppercase;
}
.quality{
  font-family: Calibri;
  font-size: 16px;
  font-weight: bold;
  color: #6d6d6d;
  line-height: 20px;
}
.staff{
  font-family: Calibri;
  font-size: 16px;
  font-weight: bold;
  color: #6d6d6d;
  line-height: 20px;
}
.application{
  font-family: Calibri;
  font-size: 16px;
  font-weight: bold;
  color: #6d6d6d;
  line-height: 20px;
}
.enter{
  font-family: Calibri;
  font-size: 16px;
  font-weight: bold;
  color: #6d6d6d;
  line-height: 20px;
}
.bold{
  font-weight: bold;
  color: #6d6d6d;
  font-size: 14px;
}
.speacial-text p{
  color: #6d6d6d;
}
.speacial-left .img2{
  margin-top: 10rem;
}
.speacial-left .img3{
  margin-top: 10rem;
}
.speacial-left{
  margin-left: 1rem;
}
.career-heading{
  font-size: 29px;
  font-weight: bold;
  color: #6d6d6d;
  text-transform: uppercase;
  margin-left: 0.344rem;
}
.career-content-box{
  width: 1000px;
  padding: 0 0 22px 0;
  margin-left: 19rem;
}
.text-secondary:hover{
  text-decoration: none;
}
#btn{
  background-color: #D7E5F5;
  border-color: #ABBBCC #A7B6C7 #A1AFBF;
  border-radius: 12px 12px 12px 12px;
  border-style: solid;
  border-width: 1px;
  box-shadow: 0 1px 0 0 white inset;
  color: #1A3E66;
  font: 26px/1 "Lucida Grande","Lucida Sans Unicode","Lucida Sans",Geneva,Verdana,sans-serif;
  padding: 6px 0 7px;
  text-align: center;
  text-shadow: 0 1px 1px #FFFFFF;
  width: 278px;
  font-weight: bold;
  text-decoration: none;
}
.career-left{
  width: 14rem;
  height: 18rem;
}
.side-box{
  width: 250px;
  padding: 1.4rem;
  background-color: #f3f3f3;
  border: 1px solid #e2e2e2;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
.side-box ul li{
  font-weight: normal;
  font-size: 12px;
  line-height: 20px;
  color: #6d6d6d;
}
.side-box h6{
  font-family: Calibri;
  font-size: 18px;
  font-weight: bold;
  color: #6d6d6d;
  margin: 7px 0 0 34px;
}
.career-right span{
  font-family: Calibri;
  font-size: 16px;
  font-weight: bold;
  color: #6d6d6d;
}
.career-right p{
  font-size: 16px;
  color: #6d6d6d;
  line-height: 22px;
  text-align: justify;
}
.employee-box{
  width: 1000px;
  padding: 0 0 22px 0;
  margin-left: 19rem;
}
.employee-left{
  width: 280px;
  height: 40rem;
  background-color: #f3f3f3;
  border: 1px solid #e2e2e2;
  border-radius: 4px;
}
.employee-left .line{
  height: 1px;
  width: 193px;
  margin: 9px 8px 13px 2px;
  background-color: #6d6d6d;
  margin-left: 46px;
}
.left-heading{
  font-family: Calibri;
  font-size: 24px;
  font-weight: bold;
  color: #6d6d6d;
  margin: 7px 0 0 17px;
}
.employee-left ul li{
  font-family: Calibri;
  font-size: 16px;
  font-weight: normal;
  color: #6d6d6d;
  line-height: 20px;
}
.employee-left ul li a{
  font-weight: normal;
  font-size: 12px;
  line-height: 20px;
  color: #057DBA;
}
.employee-left ul li a:hover{
  text-decoration: none;
  color: #000;
}
.img-and-text h4{
  font-family: Calibri;
  font-size: 16px;
  font-weight: 700;
  color: #6d6d6d;
  line-height: 20px;
}
.employee-right h2{
  font-family: Calibri;
  font-size: 24px;
  font-weight: bold;
  color: #6d6d6d;
  text-transform: uppercase;
  margin: 20px 0;
}
.img-and-text p{
  font-family: Calibri;
  font-size: 16px;
  font-weight: normal;
  color: #6d6d6d;
  line-height: 20px;
}
.employee-heading{
  font-family: Calibri;
  font-size: 29px;
  font-weight: bold;
  color: #6d6d6d;
  text-transform: uppercase;
}
.employee-right p{
  font-family: Calibri;
  font-size: 16px;
  font-weight: normal;
  color: #6d6d6d;
  line-height: 22px;
}
.employee-right span{
  font-family: Calibri;
  font-size: 16px;
  font-weight: bold;
  color: #6d6d6d;
}
.contact-box{
  width: 1000px;
  padding: 0 0 22px 0;
  margin-left: 19rem;
}
.contact-box h1{
  font-family: Calibri;
  font-size: 29px;
  font-weight: bold;
  color: #6d6d6d;
  text-transform: uppercase;
}
.bulltet-contact ul li{
  font-family: Calibri;
  font-size: 16px;
  font-weight: normal;
  color: #6d6d6d;
}
.bulltet-contact{
  margin-left: -26px;
}
.contact-email-direction #bold{
  font-family: Calibri;
  font-size: 29px;
  font-weight: bold;
  color: #6d6d6d;
  text-transform: uppercase;
}
.contact-speacial span{
  font-family: Calibri;
  font-size: 16px;
  font-weight: bolder;
  color: #6d6d6d;
}
.contact-box p{
  font-family: Calibri;
  font-size: 16px;
  font-weight: normal;
  color: #6d6d6d;
  line-height: 20px;
}
.emalil-btn{
  margin: 20px 0 0 0;
}
.emalil-btn button{
  background-color: #D7E5F5;
  background-image: -moz-linear-gradient(center top , #D7E5F5, #CBE0F5);
  border-color: #ABBBCC #A7B6C7 #A1AFBF;
  border-radius: 12px 12px 12px 12px;
  border-style: solid;
  border-width: 1px;
  box-shadow: 0 1px 0 0 white inset;
  color: #1A3E66;
  font: 26px/1 "Lucida Grande","Lucida Sans Unicode","Lucida Sans",Geneva,Verdana,sans-serif;
  padding: 6px 0 7px;
  text-align: center;
  text-shadow: 0 1px 1px #FFFFFF;
  width: 200px;
  font-weight: bold;
  text-decoration: none;
}
.email-box{
  width: 1200px;
  padding: 0 0 22px 0;
  margin-left: 19rem;
}
.email-heading{
  font-family: Calibri;
  font-size: 29px;
  font-weight: bold;
  color: #6d6d6d;
  text-transform: uppercase;
}
.email-bullet p{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13px;
  color: #6d6d6d;
}
.form ul li{
  font-family: Calibri;
  font-size: 16px;
  font-weight: normal;
  color: #6d6d6d;
  line-height: 26px;
}
.form ul li span{
  width: 107px;
  color: #6d6d6d;
}
.form ul li input{
  margin: 5px 0;
  border: none;
  border-radius: 5px;
  box-shadow: 0 0 5px #666 inset;
  height: 35px;
  line-height: 35px;
  width: 325px;
  text-indent: 10px;
}
.form ul li textarea{
  margin: 5px 0;
  border: none;
  border-radius: 5px;
  box-shadow: 0 0 5px #666 inset;
  line-height: 35px;
  text-indent: 10px;
  width: 325px;
}
.form ul li input:focus{
  box-shadow: 0px 0px 5px #007eff;
}
.form ul li textarea:focus{
  box-shadow: 0px 0px 5px #007eff;
}
.submit-btn{
  margin: 20px 0 0 28px;
}
#submit{
  background-color: #D7E5F5;
  background-image: -moz-linear-gradient(center top , #D7E5F5, #CBE0F5);
  border-color: #ABBBCC #A7B6C7 #A1AFBF;
  border-radius: 12px 12px 12px 12px;
  border-style: solid;
  border-width: 1px;
  box-shadow: 0 1px 0 0 white inset;
  color: #1A3E66;
  font: 13px/1 "Lucida Grande","Lucida Sans Unicode","Lucida Sans",Geneva,Verdana,sans-serif;
  padding: 6px 0 7px;
  text-align: center;
  text-shadow: 0 1px 1px #FFFFFF;
  width: 150px;
}
.site-box{
  width: 1200px;
  padding: 0 0 22px 0;
  margin-left: 19rem;
}
.site-heading{
  font-family: Calibri;
  font-size: 29px;
  font-weight: bold;
  color: #6d6d6d;
  text-transform: uppercase;
  margin-bottom: 1rem;
}
.sitamap-bullet{
  margin: 10px 0 0 -28px;
}
.sitamap-bullet ul li.site-inner-1{
  font-family: Calibri;
  font-size: 13px;
  font-weight: normal;
  color: #6d6d6d;
  line-height: 26px;
  margin: 0 0 0 30px;
}
.inner-dot{
  margin: 0 0 0 70px;
}
.inner-dot ul li a{
  font-family: Calibri;
  font-size: 13px;
  font-weight: normal;
  color: #6d6d6d;
  line-height: 26px;
}
.sitamap-bullet ul li{
  font-family: Calibri;
  font-size: 16px;
  font-weight: normal;
  color: #6d6d6d;
  line-height: 26px;
}
.carousel img{
  height: 360px;
  max-width: 100%;
  object-fit: cover;
  object-position: center;
}
.enterprise-box{
  width: 1200px;
  padding: 0 0 22px 0;
  margin-left: 19rem;
}
.enterprise-heading{
  font-family: Calibri;
  font-size: 29px;
  font-weight: bold;
  color: #6d6d6d;
  text-transform: uppercase;
}
.erp-text{
  font-family: Calibri;
  font-size: 16px;
  font-weight: normal;
  color: #6D6D6D;
  line-height: 20px;
}
.erp-text h4{
  font-family: Calibri;
  font-size: 16px;
  font-weight: bold;
  color: #6D6D6D;
  line-height: 20px;
  margin: 0 0 10px 0;
}
.assurance-box{
  width: 1200px;
  padding: 0 0 22px 0;
  margin-left: 19rem;
}
.assurance-heading{
  font-family: Calibri;
  font-size: 29px;
  font-weight: bold;
  color: #6d6d6d;
  text-transform: uppercase;
}
.assurance-text{
  font-family: Calibri;
  font-size: 16px;
  font-weight: normal;
  color: #6D6D6D;
  line-height: 20px;
}
.testing-heading{
  font-family: Calibri;
  font-size: 29px;
  font-weight: bold;
  color: #6d6d6d;
  text-transform: uppercase;
}
.testing-box{
  width: 1000px;
  padding: 0 0 22px 0;
  margin-left: 19rem;
}
.testing-text{
  font-family: Calibri;
  font-size: 16px;
  font-weight: normal;
  color: #6D6D6D;
  line-height: 20px;
}
.solution-heading{
  font-family: Calibri;
  font-size: 29px;
  font-weight: bold;
  color: #6d6d6d;
  text-transform: uppercase;
}
.solution-box{
  width: 1000px;
  padding: 0 0 22px 0;
  margin-left: 19rem;
}
.solution-text{
  font-family: Calibri;
  font-size: 16px;
  font-weight: normal;
  color: #6D6D6D;
  line-height: 20px;
}
.manage-heading{
  font-family: Calibri;
  font-size: 29px;
  font-weight: bold;
  color: #6d6d6d;
  text-transform: uppercase;
}
.automation-box{
  width: 1000px;
  padding: 0 0 22px 0;
  margin-left: 19rem;
}
.automation-text{
  font-family: Calibri;
  font-size: 16px;
  font-weight: normal;
  color: #6D6D6D;
  line-height: 20px;
}
.automation-text h2{
  font-family: Calibri;
  font-size: 16px;
  font-weight: bold;
  color: #6D6D6D;
  line-height: 20px;
}
.automation-heading{
  font-family: Calibri;
  font-size: 29px;
  font-weight: bold;
  color: #6d6d6d;
  text-transform: uppercase;
}
.manage-box{
  width: 1000px;
  padding: 0 0 22px 0;
  margin-left: 19rem;
}
.manage-text{
  font-family: Calibri;
  font-size: 16px;
  font-weight: normal;
  color: #6D6D6D;
  line-height: 20px;
}
.currentOpen-box{
  width: 1000px;
  padding: 0 0 22px 0;
  margin-left: 19rem;
}
.current-heading{
  font-family: Calibri;
  font-size: 29px;
  font-weight: bold;
  color: #6d6d6d;
  text-transform: uppercase;
}
table td {
  border: 1px solid #fff;
  padding: 3px;
}
table, tr, td {
  font-size: 14px;
}
.open-text span{
  font-family: Calibri;
  font-size: 16px;
  font-weight: bold;
  color: #6d6d6d;
}
.open-text{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13px;
}
#basic-navbar-nav Link{
  font-family: Roboto, sans-serif;
}





/* responsive */

@media only screen and (max-width: 576px) {
  .white-txt {
    margin-left: 3rem !important;
    margin-top: 2rem;
  }
  .corporate-box {
    width: 570px;
  }
  .corporate-heading{
    margin-left: 5rem;
    font-size: 20px;
  }
  .corporate-para{
    margin-left: 5rem;
    font-family: Calibri;
    font-size: 16px;
    font-weight: normal;
    color: #6d6d6d;
    line-height: 21px;
  }
  .corporate-bullet{
    margin-left: 5rem;
    margin-top: 1.875rem;
  }
  .culture-heading{
    font-size: 20px;
    margin-left: 5rem;
  }
  .culture-box{
    width: 432px;
    margin-left: 5rem;
  }
  .white-txt{
    margin-left: 5rem;
  }
  .vision-text{
    width: 360px;
    margin-left: 5rem;
  }
  .vision-heading{
    font-size: 20px;
  }
  .employee-box{
    width: 448px;
    margin-left: 7rem;
  }
  .employee-heading{
    margin-left: -2rem;
    font-size: 20px;
    margin-bottom: 10px;
  }
  .employee-right{
    margin-left: -2rem;
  }
  .employee-right h2{
    font-size: 20px;
  }
  .career-content-box{
    width: 380px;
    margin-left: 7rem;
  }
  .side-box{
    margin-bottom: 15px;
  }
  .career-left{
    height: 31rem;
  }
  .career-heading{
    font-size: 20px;
  }
  .contact-box{
    width: 416px;
    margin-left: 5rem;
  }
  .bulltet-contact{
    margin-left: -33px;
    margin-right: 130px;
    width: 100%;
    margin-bottom: 30px;
  }
  .contact-heading h1{
    font-size: 20px;
  }
  .site-box{
    width: 416px;
    margin-left: 8rem;
  }
  .enterprise-box{
    width: 400px;
    margin-left: 5rem;
  }
  .enterprise-heading{
    font-size: 20px;
  }
  .assurance-box{
    width: 416px;
    margin-left: 5rem;
  }
  .assurance-heading{
    font-size: 20px;
  }
  .testing-box{
    width: 432px;
    margin-left: 5rem;
  }
  .testing-heading{
    font-size: 20px;
  }
  .solution-box{
    width: 496px;
    margin-left: 5rem;
  }
  .solution-heading{
    font-size: 20px;
  }
  .manage-box{
    width: 496px;
    margin-left: 5rem;
  }
  .manage-heading{
    font-size: 20px;
  }
  .automation-box{
    width: 496px;
    margin-left: 5rem;
  }
  .automation-heading{
    font-size: 20px;
  }
  .currentOpen-tab-bottom table{
    width: 100%;
  }
  .current-heading{
    font-size: 20px;
  }
  .currentOpen-box{
    width: 400px;
    margin-left: 5rem;
  }
  .open-text{
    width: 100%;
  }
  .email-box{
    width: 496px;
    margin-left: 5rem;
  }
  .email-heading{
    font-size: 20px;
  }
  .email-bullet p{
    width: 480px;
  }
  .erp-img img{
    width: 100%;
  }
  .speacial-left img{
    width: 100%;
  }
  .speacial-box{
    width: 448px;
    margin-left: 5rem;
  }
  .speacial-heading{
    font-size: 20px;
  }
  .privacy-heading{
    font-size: 20px;
    margin-left: 5rem;
  }
  .privacy-box .privacy-content {
    margin-left: 5rem;
  }
  .privacy-box{
    width: 540px;
  }
  .white-txt{
    margin-left: 3rem;
  }

}


/*  */


@media screen and (max-width: 575px) and (min-width: 402px) {
  .corporate-box{
    width: 390px;
  }
  .culture-box{
    width: 321px;
    margin-left: 3rem;
  }
  .culture-heading{
    margin-left: 3rem;
    font-size: 16px;
  }
  .vision-text{
    width: 322px;
    margin-left: 3rem;
  }
  .vision-heading{
    font-size: 16px;
  }
  .employee-box{
    width: 310px;
    margin-left: 4rem;
  }
  .employee-heading{
    font-size: 17px;
  }
  .employee-right h2{
    font-size: 17px;
  }
  .employee-left{
    margin-right: 10rem;
  }
  .career-content-box{
    width: 322px;
    margin-left: 3rem;
  }
  .career-heading{
    font-size: 17px;
  }
  .contact-box{
    width: 354px;
    margin-left: 3rem;
  }
  .contact-heading h1{
    font-size: 17px;
  }
  .contact-email-direction #bold{
    font-size: 17px;
  }
  .emalil-btn{
    margin-bottom: 25px;
}
  .email-bullet p{
    width: 350px;
  }
  .email-box{
    width: 385px;
    margin-left: 1rem;
  }
  .form ul li input {
    width: 238px;
  }
  .email-heading{
    font-size: 17px;
  }
  .form ul li{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-right: 10px;
  }
  .form ul li span{
    width: 141px;
  }
  .form ul li textarea {
    width: 200px;
  }

}







































































































